* {
    box-sizing: border-box;
} 

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #D6CDEA;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    font-size: 50px;
}

#container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    border: solid 10px black;
    background: black;
}

#display{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 400px;
    background: #f2f9fb;
    font-weight: 100;
    font-size: 50px;
    border: solid 5px rgb(34, 32, 32);
    
}

#touchs{
    display: flex;
}

#clear{
    display: flex;
}

.numbers{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px; 
}

.line-number{
    display: flex;
}

.operators{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100px; 
}

#zero, #clear-button{
    flex-grow: 1;
}
